<div class="container" id="author-card">
  <h1><%= "#{@author.first_name} #{@author.last_name}" %></h1>
  <p><%= "#{@author.bio}" %></p>
  <ul class="d-flex flex-row">

    <li><%= link_to "Create a Post", new_author_post_path(@author) %></li>
    <li><%= link_to "Edit", edit_author_path(@author) %></li>
    <li><%= link_to "Delete", author_path(@author), method: :delete, data: {:confirm => "Tem certeza?" } %></li>
    <li><%= link_to "All Authors", authors_path  %></li>

  </ul>
</div>

<div class="container">
  <h2><%= "#{@author.first_name}'s Posts" %></h2>
    <% @author.posts.each do |post| %>
    <%= link_to "#{post.title}", post_path(post) %>
    <%= post.text %>
    <% end %>
</div>
